<connectionStrings>
  <clear/>
  <add name="DefaultConnection"
   providerName="MySql.Data.MySqlClient"
   connectionString="
   server=10.147.20.39;
   User Id=sant11h; 
   Persist Security Info=True;
   database=shockdb;
   password=sundownss;
   Convert Zero Datetime=True;"/>
</connectionStrings>
